.login-center {
  margin: 0px auto;
  border: 1px solid rgb(223, 233, 82);
  padding: 10px;
  border-radius: 9px;

}
.log-img {
  width: 77px;
  height: 77px;
  margin: 0 auto;
  display: block;
  border: 1px solid rgb(219, 76, 76);
  border-radius: 98px;
  padding: 7px;
  overflow: hidden;
  

}
.log-img img {
  width: 70px;
  position: relative;
  top: 4px;
  right: 5px;
}
.Absolute-Center {
  margin: 0px auto;
    width: 40%;
    padding: 40px;
}

